##----------idea----------
*.iml
.idea/
*.ipr
*.iws
*/.settings/
*.idea
**/.iml*
*/target/
target/

##----------Other----------
# osx
*~
.DS_Store
gradle.properties

.vscode

*.log

*.class

**/.class
**/.classpath
**/.project
antx.properties
output/